*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
}
nav {
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.829) ;
}
nav .logo h2{
    font-size: 2em;
    color: #fff;
}

nav .navLinks ul{
    display: flex;
    flex-direction: column;
    gap: 50px;
    list-style: none;
}
nav .navLinks ul li a{
    color: #fff;
    font-weight: medium;
    font-size: 1.2em;
}
nav .navLinks ul li .active {
    position: relative;
}
nav .navLinks ul li .active::before {
    content: '';
    width: 100%;
    height: 4px;
    background-color: blueviolet;
    position: absolute;
    bottom: -5px;
    left: 0;
    border-radius: 10px;
    box-shadow: 0 2px 10px blueviolet;
}

nav .user {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
nav .user span {
    font-weight: bold;
}


/* MAIN */
main {
    background-color: rgba(15, 12, 19, 0.781);
    padding: 80px;
    width: 85%;
    display: flex;
    flex-direction: column;
}
main .search {
    position: relative;
    align-self: flex-end;
}
main .search input{
    border-radius: 30px;
    border: 2px solid blueviolet;
    height: 40px;
    width: 230px;
    font-weight: bold;
    color: #fff;
    outline: none;
    background-color: rgba(0, 0, 0, 0.466);
    padding-left: 37px;
}
main .search i{
    color: #fff;
    position: absolute;
    z-index: 10;
    left: 5%;
    top: 30%;
    border-right: 2px solid rgba(255, 255, 255, 0.37);
    padding-right: 5px;
}


main .filters {
    color: #fff;
    display: flex;
    gap: 80px;
    align-self: center;
}
main .filters .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative;
}
main .filters .item::before {
    content: '';
    width: 100%;
    height: 4px;
    background-color: blueviolet;
    position: absolute;
    bottom: -5px;
    left: 0;
    border-radius: 10px;
    box-shadow: 0 2px 10px blueviolet;
    display: none;
}
main .filters .item:hover::before {
    display: block;
}
main .filters .item:hover {
    color: blueviolet;
}
main .filters .item span, main .filters .item i{
    font-size: 1.5em;
}

.movie-details {
    margin-top: 40px;
    align-self: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    color: #fff;
}
.movie-details .image {
    width: 300px;
    height: 500px;
    background-image: url(images/capa4.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.movie-details .details .title h2{
    font-size: 4em;
}
.movie-details .details .title .rate {
    margin-bottom: 30px;
}
.movie-details .details .title .rate i {
    font-size: 1.2em;
    color: rgb(212, 212, 4);
}
.movie-details .details .title .rate span{
    margin-left: 15px;
}

.movie-details .details .about {
    width: 800px;
    margin-bottom: 30px;
}
.movie-details .details .about p{
    text-align: justify;
    font-size: 1.1em;
}

.movie-details .details .list-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: bold;
}
.movie-details .details .list-details span{
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}
.movie-details .details .list-details .list-title {
    color: rgb(170, 103, 233);
    border: none;
}

.movie-details .details .watch-movie {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.movie-details .details .watch-movie .play a{
    color: #fff;
    background-color: blueviolet;
    padding: 10px 28px;
    border-radius: 20px;
    transition: all .5s;
    font-size: 1.2em;
}
.movie-details .details .watch-movie .play a:hover{
    color: blueviolet;
    background-color: #000;
}
.movie-details .details .watch-movie .play a > i {
    margin-right: 8px;
}
.movie-details .details .watch-movie .favorite {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.movie-details .details .watch-movie .favorite i{
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    transition: all .3s;
}
.movie-details .details .watch-movie .favorite .active {
    color: red;
}


