*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    background-size: cover;
    background-position: center;
    position: relative;
}
.menu i {
    font-size: 1.5em;
    position: absolute;
    left: 6.5%;
    color: #fff;
    top: 6%;
    display: none;
}
nav {
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.829) ;
    position: relative;
    transition: all .5s;
}
.active-menu {
    position: absolute;
    left: 0;
}

nav .logo h2{
    font-size: 2em;
    color: #fff;
}

nav .navLinks ul{
    display: flex;
    flex-direction: column;
    gap: 50px;
    list-style: none;
}
nav .navLinks ul li a{
    color: #fff;
    font-weight: medium;
    font-size: 1.2em;
}
nav .navLinks ul li .active {
    position: relative;
}
nav .navLinks ul li .active::before {
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--principal);
    position: absolute;
    bottom: -5px;
    left: 0;
    border-radius: 10px;
    box-shadow: 0 2px 10px var(--principal);
}

nav .user {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
nav .user span {
    font-weight: bold;
}


/* MAIN */
main {
    background-color: rgba(15, 12, 19, 0.781);
    padding: 40px;
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
main .search {
    position: relative;
    align-self: flex-end;
}
main .search input{
    border-radius: 30px;
    border: 2px solid var(--principal);
    height: 40px;
    width: 230px;
    font-weight: bold;
    color: #fff;
    outline: none;
    background-color: rgba(0, 0, 0, 0.466);
    padding-left: 37px;
}
main .search i{
    color: #fff;
    position: absolute;
    z-index: 10;
    left: 5%;
    top: 30%;
    border-right: 2px solid rgba(255, 255, 255, 0.37);
    padding-right: 5px;
}


main .filters {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    align-self: center;

}
main .filters .item {
    background: linear-gradient(to right, var(--principal), transparent);
    padding: 5px 10px;
    border-radius: 10px 10px 10px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    gap: 10px;
}

main .filters .item:hover::before {
    display: block;
}
main .filters .item i:hover {
    color: var(--principal);
}
main .filters .item span, main .filters .item i{
    font-size: 1.5em;
}

.movie-details {
    align-self: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    color: #fff;
}
.movie-details .image {
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    animation: upscale .6s linear;
}

.movie-details .details .title h2{
    font-size: 4em;
    animation: upscale .6s linear;
}
.movie-details .details .title .rate {
    margin-bottom: 30px;
}
.movie-details .details .title .rate i {
    font-size: 1.2em;
    color: rgb(212, 212, 4);
}
.movie-details .details .title .rate span{
    margin-left: 15px;
}

.movie-details .details .about {
    max-width: 800px;
    margin-bottom: 30px;
}
.movie-details .details .about p{
    text-align: justify;
    font-size: 1.1em;
}

.movie-details .details .list-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: bold;
}
.movie-details .details .list-details span{
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}
.movie-details .details .list-details .list-title {
    color: var(--principal);
    border: none;
}

.movie-details .details .watch-movie {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}
.movie-details .details .watch-movie .play a{
    color: #fff;
    background: linear-gradient(to right, var(--principal), transparent);
    padding: 10px 28px;
    border-radius: 20px;
    transition: all .5s;
    font-size: 1.2em;
}
.movie-details .details .watch-movie .play a:hover{
    background-color: rgba(255, 255, 255, 0.432);
}
.movie-details .details .watch-movie .play a > i {
    margin-right: 8px;
}
.movie-details .details .watch-movie .favorite {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.movie-details .details .watch-movie .favorite i{
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    transition: all .3s;
}
.movie-details .details .watch-movie .favorite .active {
    color: red;
}


main .other-movies {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 30px;
    height: 150px;
    width: 100%;
}
main .other-movies .movie {
    width: 80px;
    height: 120px;
    border-radius: 20px 20px 0 20px;
    transition: all .3s;
    overflow: hidden;
    animation: upscale .6s linear;
}
main .other-movies .movie img{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 20px;
}
main .other-movies .movie:hover {
    transform: scale(110%);
}


/* MEDIA QUERIES */
@media (max-width: 965px) {
    main .filters .item {
        font-size: .88em;
    }
    nav {
        left: -100%;
        width: 20%;
        z-index: 100;
        position: absolute;
        background-color: #000;
    }
    main {
        width: 100%;
    }
    .menu i {
        display: block;
        z-index: 200;
    }
    main .other-movies {
        max-width: 500px;
        overflow-x: scroll;
        justify-content: flex-start;
    }
}
@media (max-width: 830px) {
    .movie-details .details .title h2{
        font-size: 2em;
    }
    .movie-details .details .title .rate i {
        font-size: 1em;
    }
    .movie-details .details .about {
        max-width: 600px;
    }
    .movie-details .details .about p{
        text-align: justify;
        font-size: 1.2em;
    }
}
@media (max-width: 780px) {
    main {
        height: 170vh;
    }
    .movie-details {
        flex-direction: column;
    }
    body {
        background-size: auto;
        background-position: top;
    }
    .movie-details .details .title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    nav {
        width: 40%;
    }
}
@media (max-width: 440px) {
    main {
        height: 185vh;
    }
    .movie-details .details .watch-movie {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 440px) {
    main {
        height: 190vh;
    }
    nav {
        width: 70%;
    }
}    


@keyframes upscale {
    from {
        transform: scale(50%);
    }
    to {
        transform: scale(100%);
    }
}




